// Colors (original-gruvbox)
$o-black: #181818;
$o-red: #cc241d;
$o-green: #98971a;
$o-yellow: #d79921;
$o-blue: #458588;
$o-purple: #b16286;
$o-aqua: #689d6a;
$o-gray: #a89984;
$o-orange: #d65d0e;
$o-white: #ebdbb2;

$o-brgray: #928374;
$o-brred: #fb4934;
$o-brgreen: #b8bb26;
$o-bryellow: #fabd2f;
$o-brblue: #83a598;
$o-brpurple: #d3869b;
$o-braqua: #8ec07c;
$o-bg2: #504945;
$o-brorange: #fe8019;

// Gruvbox Material Scheme
$bg-dim: #141617;
$bg0: #1d2021;
$bg1: #282828;
$bg2: #282828;
$bg3: #3c3836;
$bg4: #3c3836;
$bg5: #504945;

$bg-statusline1: #282828;
$bg-statusline2: #32302f;
$bg-statusline3: #504945;

// Diff/Visual backgrounds
$bg-diff-red: #3c1f1e;
$bg-visual-red: #442e2d;

$bg-diff-orange: #4a2e1a;
$bg-visual-orange: #44372a;

$bg-diff-yellow: #3f3518;
$bg-visual-yellow: #473c29;

$bg-diff-green: #32361a;
$bg-visual-green: #333e34;

$bg-diff-aqua: #1e352d;
$bg-visual-aqua: #2d3f35;

$bg-diff-blue: #0d3138;
$bg-visual-blue: #2e3b3b;

$bg-diff-purple: #3f2d35;
$bg-visual-purple: #463640;

$bg-diff-gray: #4a4640;
$bg-visual-gray: #53504a;

$bg-current-word: #32302f;

// Foregrounds
$fg0: #e2cca9;
$fg1: #e2cca9;

// Basic palette
$red: #f2594b;
$orange: #f28534;
$yellow: #e9b143;
$green: #b0b846;
$aqua: #8bba7f;
$blue: #80aa9e;
$purple: #d3869b;
$gray: #e2cca9;

// Background accents
$bg-red: #db4740;
$bg-orange: #f28534;
$bg-yellow: #e9b143;
$bg-green: #b0b846;
$bg-aqua: #8bba7f;
$bg-blue: #80aa9e;
$bg-purple: #d3869b;
$bg-gray: #e3e1dc;

// Greys
$grey0: #7c6f64;
$grey1: #928374;
$grey2: #a89984;

// Saturation 40% (s1)
$red-s1: #ef4d40;
$orange-s1: #ef8740;
$yellow-s1: #efab40;
$green-s1: #a1fc33;
$aqua-s1: #40ef85;
$blue-s1: #40efcc;
$purple-s1: #ef4085;
$gray-s1: #7c6f64;

// Saturation light levels
$red-sl1: #cc3c32;
$orange-sl1: #cc6d32;
$yellow-sl1: #cc9832;
$green-sl1: #9ccc32;
$aqua-sl1: #32cc76;
$blue-sl1: #32ccaf;
$purple-sl1: #cc3273;
$gray-sl1: #a89984;

$red-sl2: #992e28;
$orange-sl2: #995628;
$yellow-sl2: #997c28;
$green-sl2: #789928;
$aqua-sl2: #28994f;
$blue-sl2: #289983;
$purple-sl2: #992853;
$gray-sl2: #928374;